<center>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        <form method="post" action="/profile" accept-charset="UTF-8">
        <table border="0">
          <tbody>
            <tr><td valign="top">user: </td><td><%= current_user.username %></td></tr>
            <tr><td valign="top">created:</td><td><%= current_user.created_at.strftime("%B %d, %Y") %></td></tr>
            <tr><td valign="top">karma:</td><td><%= current_user.karma %></td></tr>
            <tr><td valign="top">about:</td>
            <td style="overflow:hidden;">
              <textarea name="about" cols="60" rows="5"><%= current_user.about %></textarea>
            </td></tr>
            <tr><td valign="top">email:</td><td><input type="text" name="email" value="" size="60"><% current_user.email %></td></tr>
            <tr><td></td><td>
              <a href="/ask"><u>submissions</u></a>
            </td></tr>
            <tr><td></td><td>
              <a href="/threads"><u>comments</u></a>
            </td></tr>
            <tr><td></td><td>
              <a href=""><u>upvoted submissions</u></a> /
              <a href=""><u>comments</u></a>
            </td></tr>
          </tbody></table>
          <br><input type="submit" value="update">
          </form>
          <br><br>
      </table>
    </td>
  </tr>
</center>