<center>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        <form class="profileform" method="post" action="/xuser">
        <table border="0">
          <tbody>
            <tr></tr><td valign="top">user: </td></tr>
            <tr><td valign="top">created:</td></tr>
            <tr><td valign="top">karma:</td></tr>
            <tr><td valign="top">about:</td>
            <td style="overflow:hidden;">
                      <textarea cols="60" rows="5" wrap="virtual" name="about"></textarea>
            </td></tr>
            <tr><td valign="top">email:</td><td><input type="text" name="uemail" value="" size="60"></td></tr>
            <tr><td></td><td><a href="submitted?id=jayeeer"><u>submissions</u></a></td></tr><tr><td></td><td><a href="/threads"><u>comments</u></a></td></tr>
                <tr><td></td><td><a href="upvoted?id=jayeeer"><u>upvoted submissions</u></a> /
                <a href="upvoted?id=jayeeer&amp;comments=t"><u>comments</u></a>
                &nbsp;<span style="font-style:italic">(private)</span></td></tr>
          </tbody></table>
          <br><input type="submit" value="update">
          </form>
          <br><br>
      </table>
    </td>
  </tr>
</center>